{% extends 'newindex.html' %}

{% block content %}

<div class="container">
    <h1>sign up!</h1>

    <form method="POST" action="{% url 'signup' %}" enctype="multipart/form-data">
        {% csrf_token %}
        Username(ID):
        <br>
        <input name="username" type="text">
        <br>
        Password:
        <br>
        <input name="password1" type="password">
        <br>
        Confirm Password:
        <br>
        <input name="password2" type="password">
        <br><br>
        Profile information:
        <br>
        Gender:
        <br>
        <input name="gender" type="text">
        <br>
        Skin_type:
        <br>
        <input name="skin_type" type="text">
        <br>
        Age:
        <br>
        <input name="age" type="text">
        <br>
        NickName:
        <br>
        <input name="nickname" type="text">
        <br>
        <!-- Profile picture: -->
        <br>
        <!-- <input name="profile_pic" type= "file"> -->
        <br>
        <br>
        <input type="submit" class="btn btn-primary" value="sign up">
    </form>
</div>
{% endblock %}
