{% extends "newindex.html" %}

{% block content %}
<div align="center">
    <h2> {{profile.nickname}}</h2>
    <br>
    <img src = "{{ profile.image }}" height="auto" width="300">
    <br>
    <br>
    <p> 성별: {{ profile.gender }} </p>
    <p> 나이: {{ profile.age |floatformat }} </p>
    <p> 피부 타입: {{ profile.skin_type }} </p>
    <br>
    <br>
    <br>

    <h3>Reviews Written by this user</h3>
{% for review in profile.get_written_reviews %}

<div style="border: black;" >
    <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVBqHgTyJvjMHQdujR7NeI22uf-Bj_qPy2AHierD1OUkgZOdJSnw"> -->
    <!-- {{ rate.get_user.image }} -->
<div>
<br>
<a href=" {{review.get_absolute_url }}"><p>{{ review.review }}</p></a>
<p> written on: {{review.created_at }},     gave {{ review.rate }} stars <p>

{% endfor %}
<!-- <p>by {{article.author}} 님</p>
<p>{{article.create_date.year}}년 {{article.create_date.month}} 월
     {{article.create_date.day}}일</p> -->
{% endblock %}
