{% extends "newindex.html" %}


{% block content %}
<h1>Review List</h1>
{% if rate_list %}
<ul>
    {% for rate in rate_list %}
    <a href="{{ rate.get_absolute_url }}"> {{ rate.review }} </a>
    <p> {{ rate.get_user }} gave a {{ rate.rate }} for product {{ rate.get_item }} </p>
    {% endfor %}
</ul>
{% else %}
<p>no reviews</p>
{% endif %}
{% if is_paginated %}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}
