{% extends "newindex.html" %}


{% block content %}
<div align="center">
<h1>Lastest Reviews</h1>

{% if rate_list %}
<ul>
    {% for rate in rate_list %}


    <div style="border: thin solid black;" >
        <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVBqHgTyJvjMHQdujR7NeI22uf-Bj_qPy2AHierD1OUkgZOdJSnw"> -->
        <!-- {{ rate.get_user.image }} -->
    <div>
    <a href="{{ rate.get_absolute_url }}"> {{ rate.review }} </a>
    <br>
    <a href="{{ rate.get_user.get_absolute_url }} "> {{ rate.get_user}}</a>
     gave a {{ rate.rate }} for product <a href="{{ rate.get_item.get_absolute_url }} "> {{ rate.get_item }} </a>
    <p> reviewed at: {{ rate.created_at }} </p>
    </div>
    <div align="left" display= "inline-block" >
    <img src ="{{ rate.get_user.image }}" style='height: 10%; width: 10%; object-fit: contain; position: relative; right: 0;'>
    <img src = "{{rate.get_item.image }}" style='height: 10%; width: 10%; object-fit: contain; position: relative; right: 0;'>
    </div>
    </div>
    <br>
    {% endfor %}
</ul>
{% else %}
<p>no reviews</p>
{% endif %}
</div>
{% if is_paginated %}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}
{% endblock %}
